.my-table {
    width: 100%;
    border-collapse: collapse;
}

.my-table th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
}

.my-table td {
    border-right: 1px solid #ddd;
    padding: 8px;
}

.my-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.my-table tr:hover {
    background-color: #ddd;
}
.my-table td:last-child {
    border-right: none;
}
